<!DOCTYPE HTML>
<html>
  <head>
    <title>Hello testing out some HTML</title>
    <meta charset="UTF-8">
    <style> 
    h1 {
      font-family: sans-serif;
      
    }
    
    h2 {
      font-style:italic;
      font-family: sans-serif;
    }
    
    body {
      font-family: sans-serif;
      color: #eeeeee;
      
    }
    
    a href {color:blue;}
    
    .class1 {
      width: 940px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      
      
    }
    
    </style>
    
    
  </head>
  
<body style="background-color:black;">
  <h1 style="color:#eeeeee; text-align:center;">About Tokyo</h1>
  <h2 style="color:#eeeeee; text-align:center;"><i>Fantastical City</i></h2>
  <div align=center><%= link_to 'Home', root_path %></div>
  <div align=center class="class1">
  
  </div>
 
  
  
</body>
  
  
  
</html>
  
  
</DOCTYPE>