<div class="container">
  <footer class="footer">
    <small>
       Copyright<a href="http://phlp.mn"> PBD Site 2018 &copy;</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %>
          
        </li>
      </ul>
    </nav>
  </footer>
</div>